html body {
  height: 100%;
  width: 100%;
  position:fixed;
    top:0;
    bottom:-1%;
    left:-0.65%;
    right:0;
}
.end {
  margin-top: -3%;
}  
.link {
  font-size: 40px;
  margin-top: -4%;
  text-decoration: none;
}
.link::hover {
  color: green;
}
.next {
  text-align: bottom right;
  margin-right: 4%;
  bottom: 4%;
  
}

.back {
  text-align: bottom left;
  margin-right: 4%;
  bottom: 4%;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  -webkit-marquee: auto medium infinite scroll normal; 
overflow-x: -webkit-marquee;

}

header {
    
    font-family: 'Frijole', cursive;
    font-size: 80px;
    color: rgb(255, 255, 255);
    font-weight: bolder; 
    text-shadow:
        0.07em 0 black,
        0 0.07em black,
        -0.07em 0 black,
        0 -0.07em black;  
    text-align: center;
    margin-top: 2%;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: -2%;
    padding: 1%;
   
}

.p5 {
  margin-left: 7%;
  margin-right: 7%;
}

body {
    font-family: 'Indie Flower', cursive;
    font-size: 55px;
    color: rgb(255, 255, 255);
    font-weight: bolder;
    text-shadow:
        0.07em 0 black,
        0 0.07em black,
        -0.07em 0 black,
        0 -0.07em black;    
    text-align: center;
    
}

ul {
    text-align: center;
    list-style-position: inside;
    column-count: 2;
    list-style-type: none;
}
.crossfade > figure {
    animation: imageAnimation 30s linear infinite 0s;
    backface-visibility: hidden;
    background-size: cover;
    background-position: center center;
    color: transparent;
    height: 100%;
    left: -2.5%;
    opacity: 0;
    position: absolute;
    top: -8%;
    width: 100%;
    z-index: -1;
  }
  
  .crossfade > figure:nth-child(1) {
    background-image: url('1.png');
  }
  .crossfade > figure:nth-child(2) {
    animation-delay: 6s;
    background-image: url('2.jpg');
  }
  .crossfade > figure:nth-child(3) {
    animation-delay: 12s;
    background-image: url('3.jpg');
  }
  .crossfade > figure:nth-child(4) {
    animation-delay: 18s;
    background-image: url('4.jpg');
  }
  .crossfade > figure:nth-child(5) {
    animation-delay: 24s;
    background-image: url('5.jpg');
  }
  
  @keyframes imageAnimation {
    0% {
      animation-timing-function: ease-in;
      opacity: 0;
    }
    8% {
      animation-timing-function: ease-out;
      opacity: 1;
    }
    17% {
      opacity: 1
    }
    25% {
      opacity: 0
    }
    100% {
      opacity: 0
    }
  }
  
  .crossfade1 > figure {
    animation: imageAnimation 30s linear infinite 0s;
    backface-visibility: hidden;
    background-size: cover;
    background-position: center center;
    color: transparent;
    height: 100%;
    left: -2.5%;
    opacity: 0;
    position: absolute;
    top: -8%;
    width: 100%;
    z-index: -1;
  }
  
  .crossfade1 > figure:nth-child(1) {
    background-image: url('6.jpg');
    
  }
  .crossfade1 > figure:nth-child(2) {
    animation-delay: 6s;
    background-image: url('7.jpg');
  }
  .crossfade1 > figure:nth-child(3) {
    animation-delay: 12s;
    background-image: url('8.jpg');
  }
  .crossfade1 > figure:nth-child(4) {
    animation-delay: 18s;
    background-image: url('10.jpg');
  }
  .crossfade1 > figure:nth-child(5) {
    animation-delay: 24s;
    background-image: url('9.jpg');
  }
  
  @keyframes imageAnimation {
    0% {
      animation-timing-function: ease-in;
      opacity: 0;
    }
    8% {
      animation-timing-function: ease-out;
      opacity: 1;
    }
    17% {
      opacity: 1
    }
    25% {
      opacity: 0
    }
    100% {
      opacity: 0
    }
  }
  
  .crossfade2 > figure {
    animation: imageAnimation 30s linear infinite 0s;
    backface-visibility: hidden;
    background-size: cover;
    background-position: center center;
    color: transparent;
    height: 100%;
    left: -2.5%;
    opacity: 0;
    position: absolute;
    top: -8%;
    width: 100%;
    z-index: -1;
  }
  
  .crossfade2 > figure:nth-child(1) {
    background-image: url('11.jpg');
  }
  .crossfade2 > figure:nth-child(2) {
    animation-delay: 6s;
    background-image: url('12.jpg');
  }
  .crossfade2 > figure:nth-child(3) {
    animation-delay: 12s;
    background-image: url('13.JPG');
  }
  .crossfade2 > figure:nth-child(4) {
    animation-delay: 18s;
    background-image: url('14.jpg');
  }
  .crossfade2 > figure:nth-child(5) {
    animation-delay: 24s;
    background-image: url('15.jpg');
  }
  
  @keyframes imageAnimation {
    0% {
      animation-timing-function: ease-in;
      opacity: 0;
    }
    8% {
      animation-timing-function: ease-out;
      opacity: 1;
    }
    17% {
      opacity: 1
    }
    25% {
      opacity: 0
    }
    100% {
      opacity: 0
    }
  }
  
  .crossfade3 > figure {
    animation: imageAnimation 30s linear infinite 0s;
    backface-visibility: hidden;
    background-size: cover;
    background-position: center center;
    color: transparent;
    height: 100%;
    left: -2.5%;
    opacity: 0;
    position: absolute;
    top: -8%;
    width: 100%;
    z-index: -1;
  }
  
  .crossfade3 > figure:nth-child(1) {
    background-image: url('16.jpg');
  }
  .crossfade3 > figure:nth-child(2) {
    animation-delay: 6s;
    background-image: url('17.png');
  }
  .crossfade3 > figure:nth-child(3) {
    animation-delay: 12s;
    background-image: url('18.jpg');
  }
  .crossfade3 > figure:nth-child(4) {
    animation-delay: 18s;
    background-image: url('19.png');
  }
  .crossfade3 > figure:nth-child(5) {
    animation-delay: 24s;
    background-image: url('20.jpg');
  }
  
  @keyframes imageAnimation {
    0% {
      animation-timing-function: ease-in;
      opacity: 0;
    }
    8% {
      animation-timing-function: ease-out;
      opacity: 1;
    }
    17% {
      opacity: 1
    }
    25% {
      opacity: 0
    }
    100% {
      opacity: 0
    }
  }
  
  .crossfade4 > figure {
    animation: imageAnimation 30s linear infinite 0s;
    backface-visibility: hidden;
    background-size: cover;
    background-position: center center;
    color: transparent;
    height: 100%;
    left: -2.5%;
    opacity: 0;
    position: absolute;
    top: -8%;
    width: 100%;
    z-index: -1;
  }
  
  .crossfade4 > figure:nth-child(1) {
    background-image: url('21.jpg');
  }
  .crossfade4 > figure:nth-child(2) {
    animation-delay: 6s;
    background-image: url('22.jpg');
  }
  .crossfade4 > figure:nth-child(3) {
    animation-delay: 12s;
    background-image: url('23.png');
  }
  .crossfade4 > figure:nth-child(4) {
    animation-delay: 18s;
    background-image: url('24.png');
  }
  .crossfade4 > figure:nth-child(5) {
    animation-delay: 24s;
    background-image: url('25.jpg');
  }
  
  @keyframes imageAnimation {
    0% {
      animation-timing-function: ease-in;
      opacity: 0;
    }
    8% {
      animation-timing-function: ease-out;
      opacity: 1;
    }
    17% {
      opacity: 1
    }
    25% {
      opacity: 0
    }
    100% {
      opacity: 0
    }
  }
  
  .crossfade5 > figure {
    animation: imageAnimation 30s linear infinite 0s;
    backface-visibility: hidden;
    background-size: cover;
    background-position: center center;
    color: transparent;
    height: 100%;
    left: -2.5%;
    opacity: 0;
    position: absolute;
    top: -8%;
    width: 100%;
    z-index: -1;
  }
  
  .crossfade5 > figure:nth-child(1) {
    background-image: url('26.jpg');
  }
  .crossfade5 > figure:nth-child(2) {
    animation-delay: 6s;
    background-image: url('27.jpg');
  }
  .crossfade5 > figure:nth-child(3) {
    animation-delay: 12s;
    background-image: url('28.jpg');
  }
  .crossfade5 > figure:nth-child(4) {
    animation-delay: 18s;
    background-image: url('29.jpg');
  }
  .crossfade5 > figure:nth-child(5) {
    animation-delay: 24s;
    background-image: url('30.jpg');
  }
  
  @keyframes imageAnimation {
    0% {
      animation-timing-function: ease-in;
      opacity: 0;
    }
    8% {
      animation-timing-function: ease-out;
      opacity: 1;
    }
    17% {
      opacity: 1
    }
    25% {
      opacity: 0
    }
    100% {
      opacity: 0
    }
  }
  